  <style>
    #draggable { width: 150px; height: 150px; padding: 0.5em; }
  </style>
  <script>
  $(function() {
    $( ".draggable" ).draggable();
  });
</script>

  
  <div id="hands-free-mode" style="z-index:3;position:fixed;left:0;bottom:0px;">
    <img id="myo-img" src="assets/oowl_myo_btn_normal.png">
  </div>
  
  <div id="minus-button">
    <img src="assets/oowl_close_btn_normal.png" class="bigIMG">
  </div>

  <div id="wrapper" class="grid-img"> 
    <div id="shelf-wrapper">
      <div id="container" class="shelf-img">
        <div class="row">
          <% @products.dress.each do |product| %>
            <%= image_tag("#{product.image.url(:medium)}", :class => "draggable") %>
          <% end %>
        </div>
        <div class="row" id="furniture">
          <% @products.furniture.each do |product| %>
            <%= image_tag("#{product.image.url(:medium)}", :class => "draggable") %>
          <% end %>
        </div>
        <div class="row">
          <% @products.others.each do |product| %>
            <%= image_tag("#{product.image.url(:original)}", :class => "draggable") %>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
