  <style>
    #draggable { width: 150px; height: 150px; padding: 0.5em; }
  </style>
  <script>
  $(function() {
    $( ".draggable" ).draggable();
  });
</script>

  
  <div id="hands-free-mode" style="z-index:3;position:fixed;left:0;bottom:0px;">
    <img id="myo-img" class="bigIMG" src="assets/oowl_myo_btn_normal.png">
  </div>
  
  <div id="minus-button">
    <img src="assets/oowl_close_btn_normal.png" class="bigIMG">
  </div>

  <div id="wrapper" class="grid-img"> 
    <%= render "products" %>
  </div>
